<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
  <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bulma.min.css"> -->
  <title>k8l - {{ .title }}</title>
</head>
<body>
  <section class="section">
    <div class="container">
      
      <div class="mb-8 columns">
        <div class="column is-one-quarter">
          <h1 class="title">
            k8l
          </h1>
          <p class="subtitle">
            Lightweight Kubernetes logs!
          </p>
        </div>
        <div class="column is-one-quarter">
          <label class="label">Namespace</label>
          <div class="select">
            <select name="namespace" id="namespace">
              <option value="echoserver">echoserver</option>
              <option value="default" selected>default</option>
            </select>
          </div>
        </div>
        <div class="column is-one-quarter">
          <label class="label">Container</label>
          <div class="select">
            <select name="container" id="container">
              
            </select>
          </div>
        </div>
      </div> 
      <hr />
      <table id="logs" class="display stripe" style="width:100%">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Message</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
              <th>Timestamp</th>
              <th>Message</th>
            </tr>
        </tfoot>
      </table>

    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script> -->
  <script>
    $(document).ready(function() {
      var table = $('#logs').DataTable( {
          "processing": true,
          "serverSide": true,
          "ajax": "/api/logs/"+$('#namespace').val()+"/"+$('#container').val(),
          "columns": [
            { "data": "timestamp", "width": "20px" },
            { "data": "message" }
        ]
      } );

      // 

      // load namespaces
      $.ajax({
        url:"/api/namespace",
        dataType: 'json',
        success:function(json){
          $('#namespace').html(' ');
          $.each(json, function(i, value) {
            $('#namespace').append($('<option>').text(value).attr('value', value));
          });
          $('#namespace').trigger('change');
        }
      });

      $('#namespace').change(function() {
        $.ajax({
          url:"/api/namespace/"+$('#namespace').val(),
          dataType: 'json',
          success:function(json){
            $('#container').html(' ');
            $.each(json, function(i, value) {
              $('#container').append($('<option>').text(value).attr('value', value));
            });
            table.ajax.url( "/api/logs/"+$('#namespace').val()+"/"+$('#container').val() ).load();
          }
        });
      });

      $('#container').change(function() {
        table.ajax.url( "/api/logs/"+$('#namespace').val()+"/"+$('#container').val() ).load();
      });


    } );
  </script>
</body>
</html>